


*{
    box-sizing: border-box;  
  }
  body{
      margin: 0;
      text-align: center;
      background: black;
      color: rgb(0, 255, 85);
  }
/* .container{
    width: 80vw;
    margin: auto;


} */
.menu-btn{
    border-radius: 0 50% 50% 0;
    width: 5rem;
    /* height: 4vh; */
    background: greenyellow;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
left: 0;
top: 0;  

    transition: height 5000ms, width 250ms, border-radius 250ms;
}





.menu-btn:hover,
.menu-btn:active{
    height: 20vh;
    width: 6rem;
    border-radius: 0 10% 10% 0;
    min-height: 150px;

}
.menu-column{
    display:none;
    list-style: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}
.columns{
    display: flex;
    justify-content: space-evenly;
}




.btn{
/* border: greenyellow solid 1px; */
/* background: greenyellow; */
color: green;


}
.btn:hover,.btn:active{
    background-color: green;
    color: black;
    border-radius: 2px;

}

.htmldisplay{
    text-align: left;
background-color: rgba(0, 0, 0, 0);
color: chartreuse;
width: 80vw;
height: 80vh;
    /* max-height: 700px; */
}

.projectslist{
    display: none;
    /* min-width: 10px; */
    max-width: 200px;
    border: red 1px solid;
background-image: linear-gradient(90deg, greenyellow, chartreuse);
    color: green;
    /* min-height: 100px; */
    padding-right: 30px;
    border-radius: 0 25% 25% 0;
    position: absolute;
    left: 0;
    top: 25vh;
    transition: height 1500ms, width 250ms, display 500ms;
}
.btn{
    display: none;
}
.radiodisplay{
    display: flex;

}
.sidebar-display{
display: flex;
flex-direction: column;
justify-content: space-around;
}
.welcome-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
}

.code-display{
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding: 20px;
}

.display-container{
    width: 70vw;
    height: 80vh;
    align-items: center;
}
.activebtn{
    background-color: chocolate;
    color: darkgreen;
}

