


*{
    box-sizing: border-box;  
  }
  body{
      margin: 0;
      text-align: center;
      background: black;
      color: rgb(0, 255, 85);
  }
/* .container{
    width: 80vw;
    margin: auto;


} */
.menu-btn{
    border-radius: 0 50% 50% 0;
    width: 5rem;
    /* height: 4vh; */
    background: greenyellow;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;

    transition: height 500ms, width 250ms, border-radius 250ms;
}

.menu-btn:hover,
.menu-btn:active{
    height: 20vh;
    width: 6rem;
    border-radius: 0 10% 10% 0;
    min-height: 150px;

}
.menu-column{
    display:none;
    list-style: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}
.columns{
    display: flex;
    justify-content: space-evenly;
}

.choice-list{
    width: 200px;
    height: 80vh;
    min-width: 200px;

}

.code-display{
    width: 70vw;
    height: 80vh;
    /* background: red;
    border: orange solid 2px; */
}

.btn{
border: orchid solid 1px;
background-color: orange;
border-radius: 3em;

}
.btn:hover,.btn:active{
    background-color: orangered;
    color: black;

}

.htmldisplay{
    text-align: left;
}

.projectslist{
    display: none;
}