*{
    box-sizing: border-box;  
  }
body{
    height: 100vh;
    width: 100vw;
    margin: 0;   
    background: #3ac2e1;
    font-size: 18px;
}

header{
    background: radial-gradient(ellipse at bottom, #3b707c5d 50% , #c25d69a4 70%);
    padding: 2rem 0;
    /* border-bottom: outset 10px #3ac2e12e ; */
    display: flex;
    justify-content: center;

}
.list>h3{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: rgba(187, 8, 8, 0.515);    
    padding-right: 1rem;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 50vw; */

}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.225em;


}
.title>h1, .title>p{
    margin: 0;
}

.title>h1{
    font-family: 'Rowdies', cursive;
    color: rgba(187, 8, 8, 0.515);
}
.title>p{
    font-family: 'Indie Flower', cursive;
    color: rgba(247, 238, 171, 0.686);
    font-weight: 600;
    position: relative;
    top: 1rem;
    right: 2.5rem;


}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu>button{
    border: outset;
    background-color: darkslategray;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;

    border-radius: 30%;
    color: white;
    font-weight: 800;
}
.menu>button:hover{
    border: inset;
}

.menu>button::first-letter{
    color: rgba(226, 230, 13, 0.659);
    text-transform: uppercase;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 70vh;
}

.list{
  background: #c2b75d;  
  padding: 1rem;
  border-bottom-right-radius: 4em;
  align-self: flex-start;
  /* border-right: outset;
  border-bottom: outset; */
  box-shadow:  0.5px 4px 2px;
}

.content{
    text-align: center;
    padding: 0.5rem 2rem;
    width: 100%;

}
.radioboxes{
/* position: relative; */
width: 10rem;
display: flex;
flex-direction: column;
align-self: flex-start;
background: #c2b75d; 
padding: 1rem 1rem 2rem;
border-bottom-left-radius: 4em;
box-shadow:  0.5px 4px 2px;

}

.radioboxes>label{
    display: block;
}

#codearea{
    width: 100%;
    height: 100%;
background: none;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(3, 24, 51);
    border: none;
    resize: none;
}

.btn{
    text-align: center;
    border: outset rgba(206, 15, 15, 0.7) 5px;
    background: radial-gradient(rgba(38, 186, 213, 0.446)50%, rgba(206, 15, 15, 0.7));
    padding: 0.25rem 0.5rem;
    border-radius: 2rem;
}


.btn:hover, .active{
    border: inset rgba(138, 131, 131, 0.7) 5px;
    color: white;
    background: radial-gradient(rgba(38, 186, 213, 0.446)30%, rgba(206, 15, 15, 0.7)40%);
    cursor: pointer;
}

