body{
    margin: 0;
    display: grid;
    width: 100vw;
    /* grid-template-rows: 20vh;
    grid-template-columns: 20vw;
    ju;
    grid-template-areas:
    " . .  header . . "
    ; */
}

header{
    background-color: green;
    
}

header>div{
    background-color: blue;
    grid-area: header;
}