html, body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50% 100%, green 50%  , red );

}


button{
    padding: 10px;
    background-image: radial-gradient(orange,red);
    border-radius: 20px;
    
    cursor: pointer;
}

button:hover{
    background-image: radial-gradient(lightblue,blue);
}

#draw-btn{
    display: none;
}

/* .container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}  */
.card {
    width: 80px;
    height: 112px;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px 0;
}

img{
    width: inherit;
    height: inherit;
}

.cardsleft{
text-align: center;
position:fixed;
width: 100px;
border: solid black;
right: 0;
bottom: 0;
background-color: lightblue;
    
}
.score-table{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.score{
    /* width: 70px; */
    height: 3em;
    border: solid black;
    margin: 0 10px;
    background-color: orange;
}

.score>h2, .score>p{
    text-align: center;
    margin: 0;
}
