body {background-color: rgb(5, 5, 112);}

.display {
     background-color: rgb(223, 178, 124);
     width: 300px;
     padding: 0.75em 1.25em;
     border-radius: 6px;
    }

.numbpanel{
    /* background-color: rgb(223, 178, 124); */
    
    display: grid;
    grid-template: auto auto / repeat(5, 1fr)
   } 
.num{
    background-color: rgb(223, 178, 124); 
    padding: 0.75em 1.25em;
    border-radius: 20px;
    margin-top: 2px;
}