body{
    margin: 0;
    background: hsl(226, 43%, 10%);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    color: white;
    font-size: 18;
}
h1,h2,h3,p{
    margin:0;
    padding:0;
}

/* typography */
h2{
    font-size: 3.5rem;
    font-weight: 400;
}
h1{
    font-size: 2rem;
    font-weight: 500 ;
}
h3{
    font-weight: 300;
    
}
p{
    color:  hsl(236, 100%, 87%);
}




/* icons */


.container{
    width: 80vw;
}



.work-con{
 
    background: hsl(15, 100%, 70%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-work.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;

 
}
.play-con{
    background: hsl(195, 74%, 62%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-play.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;
}
.study-con{
    background: hsl(348, 100%, 68%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-study.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;
}
.exercise-con{
    background: hsl(145, 58%, 55%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-exercise.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;
}
.social-con{
    background: hsl(264, 64%, 52%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-social.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;
}
.selfcare-con{
    background: hsl(43, 84%, 65%);
    padding-top: 50px;
    border-radius: 20px;
    margin-top: 40px;
    background-image: url(images/icon-self-care.svg);
    background-position: top right;
    background-size: 60px;
    background-repeat: no-repeat;
}





.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}
.profile{

    display: flex;
    background: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding: 20px;
    align-items: center;
}
.top-container{
    background: hsl(235, 46%, 20%);
    width: 80vw;
   
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.profile>img{
    width: 50%;
    max-width: 200px ;
    border: solid white 4px;
    border-radius: 50%;
    margin: 10px;
}

.daily{
        display: flex;
}

.weekly{
    display: none;
}.monthly{
    display: none;
}




.activity-flex{
    width: 91%;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.activity-title{
    width: 90%;
    padding:0 5%;
    display: flex;
    justify-content:space-between;
} 
.activity-Con{
    padding: 2rem 0;
    height: 100px;
    background: hsl(235, 46%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    /* cursor: pointer; */
    z-index: 3;
}
.activity-Con:hover{
    background: hsl(238, 45%, 30%);
}





@media (min-width:375px){
    .container{
        display: flex;
        flex-direction: row;
        width: 95vw;
        

    }
    .activity-Container{
        display: flex;
        flex-wrap: wrap;
        /* width: 20vw; */
        justify-content: space-between;
    }
    .top-container{
        width: 20vw;
        flex-direction: column;
        margin-right: 2vw;
        justify-content:flex-start

    }
    .profile{
        flex-direction: column;
    }
    h1>span{
        display: block;
    }.menu{
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        height: 100%;
    }.activity-wideflex{
        display: flex;
        justify-content: space-between;
        width: 70vw;
    }.activity-width{
        width: 20vw;
        margin-top:0;
        margin-bottom: 2vh;
    }
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }.activity-flex{
        flex-direction: column;
        align-items: flex-start;
    }
    .menu>button{
        margin-top: 10px;
    }.profile{
        align-items: flex-start;
    }
        
    

}
    
/* links */
button{
    text-decoration: none;
    color: hsl(235, 45%, 61%);
}

button:hover,button:active{
    color: white;
} 
button{
    border: none;
    background: none;
    cursor: pointer;
}
svg{
    fill: #BBC0FF
}
button:hover svg{
    fill: white;
    
}

.current{
    color: white;
}